@media (max-width: 1000px) {
  /** tablettes + smartphones **/
  body {
    margin: 0;
    width: 100%;
  }
  #switcher-wide {
    display: none;
  }
}
@media (max-width: 780px) {
  /** smartphone **/
  #sandwich {
    display: block;
  }
  body > .content > header.opened .navbar {
    top:  0;
  }
  body > .content > header .navbar {
    display: block;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    transition: .4s;
    z-index: 110;
    background: $html-background;
  }
  body > .content > header .navbar nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 4.5rem);
  }
  body > .content > header .switchers {
    margin-right: 0;
    justify-content: center;
  }
  body > .content main * {
    scroll-margin-top: calc(4.5rem + 1.2rem);
  }
}
@media (min-width: 781px) {
  /** tout sauf smartphone **/
}
@media (min-width: 501px) and (max-height: 800px) {
  /** smartphone paysage **/
}
