#page_company {
  main {
    .single {
      display: block;
      div {
        width: 100%;
      }
      & > div {
        margin-bottom: 4rem;
        max-width: 760px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1rem;
      li {
        flex-grow: 1;
        flex-basis: 33%;
        list-style: none;
        margin-bottom: 5rem;
        &::before {
          display: none;
        }
        h4 {
          margin-bottom: .6rem;
        }
        div {
          a {
            display: block;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
              transition-duration: 0.4s;
              &:hover {
                transform: scale(1.1, 1.1);
              }
            }
          }
        }
      }
    }
    @media (max-width: 700px) {
      ul {
        flex-direction: column;
        div {
          width: 100%;
          &:last-child {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}