#page_contact {
  main {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    section {
      width: 50%;
      min-width: 400px;
      div {
        h2 {
          margin-bottom: 0;
        }
        p:first-of-type {
          a {
            @include button;
          }
        }
      }
    }
    &::after {
      content: "";
      display: block;
      background-image: url('/img/leila-floor-1280px.gif');
      flex-grow: 1;
    }
    @media (max-width: 800px) {
      flex-direction: column-reverse;
      section {
        width: 100%;
        min-width: none;
        h2 {
          margin-top: 1rem;
        }
      }
      &::after {
        height: 4rem;
      }
    }
  }
}