@font-face {
  font-family: 'apercu mono';
  src: url('../fonts/apercu_mono_pro-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'apercu mono';
  src: url('../fonts/apercu_mono_pro_medium-webfont.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: domaine;
  src: url('../fonts/domaine_display_regular-webfont.woff2') format('woff2');
}
@font-face {
  font-family: domaine;
  src: url('../fonts/domaine_display_semibold_italic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: ffjustlefthand;
  src: url('../fonts/ffjustlefthand-webfont.woff2') format('woff2');
}

@font-face {
  font-family: sohne;
  src: url('../fonts/sohne-leicht-webfont.woff2') format('woff2');
}
@font-face {
  font-family: sohne;
  src: url('../fonts/sohne-leichtkursiv-webfont.woff2') format('woff2');
  font-style: italic;
}
@font-face {
  font-family: sohne;
  src: url('../fonts/sohne-kraftigkursiv-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
