html {
  width: 100%;
  background: $html-background;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $html-background;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--html-text-color);
  font-family: sohne, "Open Sans", sans-serif;
  /*** fix pour glitch android ***/
  background-color: var(--html-background-color);
  width: 100%;
  .content {
    width: 100%;
    max-width: 1200px;
  }
}
main {
  background-color: var(--main-background-color);
  padding: $margin;
  scroll-margin-top: calc(4.5rem + 1.2rem);
}