body > .content > header {
  margin: 3rem $margin 0 $margin;
}

/* #region TOPBAR */
.topbar {
  /*&:before {
    content: '';
    order: 2;
    flex-grow: 2;
  }*/
  #logo {
    order: 1;
  }
  #sandwich {
    order: 4;
  }
  .navbar {
    order: 3;
    margin-left: 2rem;
  }
}
/*#endregion*/

#logo {
  font-family: ffjustlefthand, "Trebuchet MS", "Open Sans", sans-serif;
  color: var(--logo-color);
  font-size: 2rem;
  letter-spacing: .05em;
  white-space: nowrap;
}
a#logo:hover {
  background-color: transparent;
}
/*body > .content > header:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 1px;
  transform: scale(.99);
}*/
body > .content > header a {
  color: white;
}
body > .content > header a:hover {
  color: var(--text-grey);
}
body > .content > header .topbar {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  align-items: center;
  margin: 0;
}
body > .content > header .navbar {
  display: flex;
}
body > .content > header nav {
  display: flex;
  font-family: 'apercu mono', Consolas, Monaco, 'Andale Mono', 'Courier New', monospace;
  margin: .5rem 0 1rem 0;
  gap: 0 2vw;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}
body > .content > header nav a, body > .content > header .switcher {
  transition: color .4s, background-color .4s;
  color: $menu-color;
  height: 3rem;
  line-height: 3rem;
}
body > .content > header nav a {
  font-size: .8rem;
  white-space: nowrap;
}
body > .content > header nav a:hover, body > .content > header .switcher:hover {
  color: $menu-color-active;
}
body > .content > header nav a.active, body > .content > header .switcher.active {
  color: $menu-color-active;
}
body > .content > header nav a:hover {
  background-color: transparent;
}

/* #region SANDWICH */
#sandwich {
  display: none;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  flex-shrink:0;
  z-index: 120;
}
#sandwich > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25%;
  background-color: rgba(255, 255, 255, .5);
  transition: 0.4s;
  pointer-events: none;
}
#sandwich > div:first-child {
  transform: translate(0, 25%) scale(.85, .2);
}
#sandwich > div:nth-child(2){
  transform: translate(0, 150%) scale(.85, .2);
}
#sandwich > div:last-child {
  transform: translate(0, 275%) scale(.85, .2);
}
.opened #sandwich > div:first-child {
  transform: translate(0, 150%) rotate(45deg) scale(1, .2);
}
.opened #sandwich > div:nth-child(2){
  opacity: 0;
}
.opened #sandwich > div:last-child {
  transform: translate(0, 150%) rotate(-45deg) scale(1, .2);
}
/*#endregion*/
