#page_ {
  width: 100%;
  height: 100%;
  .content {
    z-index: 1;
  }
  #video_homepage {
    position: fixed;
    left:0;
    top:0;
    z-index: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
  h1 {
    display: block;
    position: absolute;
    bottom: 0;
  }
  & > a {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }
  @media (min-width: 780px) {
    h1 {
      display: block;
      position: absolute;
      bottom: 3vw;
    }
  }
}