@mixin button {
  background-color: #1A1A1A;
  padding: .7rem 2rem .7rem .8rem;
  margin-top: 1rem;
  display: inline-block;
  //line-height: 2rem;
  position: relative;
  color: #CCCFCA;
  font-weight: bold;
  white-space: nowrap;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: .5rem;
    height: .5rem;
    border: 2px solid #CCCFCA;
    border-width: 0 2px 2px 0;
    left: calc(100% - 1.5rem);
    top: calc(50% - .16rem);
    transform: rotate(-45deg);
    transition: transform .5s;
  }
  &:hover {
    background-color: #292929;
    color: #CCCFCA;
    &::after {
      transform: rotate(315deg);
    }
  }
}