#page_news {
  main {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: flex;
        margin-bottom: 5rem;
        gap: 1rem;
        &::before {
          display: none;
        }
        div {
          flex-grow: 1;
          width: 50%;
          a {
            display: block;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
              transition-duration: 0.4s;
              &:hover {
                transform: scale(1.1, 1.1);
              }
            }
          }
        }
      }
      @media (max-width: 550px) {
        li {
          flex-direction: column-reverse;
          div {
            width: 100%;
            &:last-child {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
    .date {
      font-family: 'apercu mono', Consolas, Monaco, 'Andale Mono', 'Courier New', monospace;
      color: rgba(230, 230, 230, .6);
      margin-bottom: 0;
      font-size: .8rem;
    }
    h3 {
      font-family: sohne;
      color: #CCCFCA;
      font-weight: bold;
      margin: 0;
    }
    h4 {
      font-family: sohne;
      color: rgba(230, 230, 230, .6);
      margin: 0;
    }
    .description {
      font-family: sohne;
      color: rgba(230, 230, 230, .4);
    }
    .button {
      @include button;
    }
  }
  .single {
    display: flex;
    gap: 1rem;
    & > div {
      flex-grow: 1;
      width: 50%;
    }
  }
  @media (max-width: 550px) {
    .single {
      flex-direction: column;
      & > div {
        width: 100%;
      }
    }
  }
}
