#page_projects {
  main {
    .single {
      display: block;
      width: auto;
      position: relative;
      & > div {
        width: auto;
        & > section:first-of-type {
          position: absolute;
          top: 0;
          width: 0;
        }
        &:last-of-type {
          display: flex;
          gap: 1rem;
          @media (max-width: 900px) {
            flex-wrap: wrap;
            section {
              flex-basis: 40%;
              flex-grow: 1;
            }
          }
          @media (max-width: 675px) {
            flex-direction: column;
          }
        }
      }
      h4 {
        margin-bottom: 1rem;
      }
      .greyed {
        margin: 1rem 0;
        h5 {
          margin: 0;
          & + p {
            margin-top: 0;
          }
        }
        p {
          margin: 0;
        }
      }
      .button:first-child {
        margin-top: 0;
      }
      p:last-of-type {
        margin-bottom: 1.2rem;
      }
    }
    @media (max-width: 900px) {
    }
  }
}