#page_manifesto, .news {
    section.single {
    display: flex;
    @media (min-width: 451px) {
      flex-direction: row-reverse;
      gap: $margin;
      & > div {
        flex-basis: 50%;
      }
    }
    @media (max-width: 450px) {
      flex-direction: column;
      gap: $margin;
    }
  }
}