:root {
  /* couleurs */
  --primary: #888;
  --light-aubergine: #333;
  --mid-blue: #4a568b;
  --dark-aubergine: #2C001E;
  --warm-grey: #AEA79F;
  --cool-grey: #333333;
  --text-grey: #111111;

  --dark: #080808;
  --light: rgba(230, 230, 230, .4);
  --light02: #CCCFCA;

  /* marges */
  --internal-margin: 1.6rem;
  --external-margin: 2rem;

  /* taille typo générale */
  font-size: Min(18px,calc(13px + .5vw));

  /* largeur page max */
  --page-narrow: 1080px;
  --page-wide: 1600px;

  /* #region couleurs light */
  --html-text-color: #e6e6e6;
  --html-background-color: var(--dark);
  --main-background-color: transparent;
  --html-scrollbar-color: var(--dark);
  --body-scrollbar-track: var(--html-background-color);
  --scrollbar-handle: #333;
  --code-background-color: #3a3a3a;
  --code-border: #444;
  --quote-background-color: var(--warm-grey);
  --quote-color: var(--text-grey);
  --quote-border: #807a73;
  --quote-pict-opacity: .4;
  --td-background-color: #eee;
  --check-background: #f9f9f9;
  --check-box-shadow: rgba(50, 50, 50, .5);
}

$margin: var(--internal-margin);

$primary: var(--primary);

$html-background: var(--dark);

$logo-color: var(--light02);
$menu-color: rgba(230, 230, 230, 0.4);
$menu-color-active: var(--light02);
$headers-color: var(--light02);

$grey-txt: rgba(230, 230, 230, .6);
