{{ define "main" }}
  <section class="single">
    {{ if .Params.image }}
      <div>
        {{ $image := resources.Get .Params.image }}
        <img src="{{ $image.Permalink }}">
      </div>
    {{ end }}
    <div>
      {{ .Content }}
    </div>
    <ul>
      {{ range $.Site.Data.members.items }}
        <li>
          <h4>{{ .role }}</h4>
          {{ if .image }}
            <div>
              {{ $image := resources.Get .image }}
              <img src="{{ $image.Permalink }}">
            </div>
          {{ end }}
          <h3 id="{{ .name | urlize}}">{{ .name }}</h3>
          <p>{{ .description }}</p>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}