{{ define "main" }}
  {{ .Content }}
  <ul>
    {{ range .Pages }}
      <li>
        <div>
          <p class="date">
            {{ humanize .Date.Day }} of {{ .Date.Format "January 2006" }}
          </p>
          <h3>{{ .Title }}</h3>
          {{ if .Params.place }}
            <h4>{{ .Params.place }}</h4>
          {{ end }}
          {{ if .Description }}
            <p class="description">{{ .Description }}</p>
          {{ end }}
          <a href="{{ .Permalink }}" class="button">Informations</a>
        </div>
        {{ if .Params.image }}
          <div>
            {{ $image := resources.Get .Params.image }}
            {{ $image := $image.Fill "1000x625" }}
            {{ $image_big := $image.Fill "1000x625" }}
            {{ $image_medium := $image.Fill "704x440" }}
            {{ $image_small := $image.Fill "400x250" }}
            <a href="{{ .Permalink }}">
              <img srcset="{{ $image_big.Permalink }} 1000w,
                {{ $image_medium.Permalink }} 704w,
                {{ $image_small.Permalink }} 400w"
                sizes="(max-width: 550px) 100vw,50vw"
                src="{{ $image_medium.Permalink }}" />
            </a>
          </div>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
