{{ define "main" }}
  <section class="single">
    {{ if .Params.image }}
      <div>
        {{ $image := resources.Get .Params.image }}
        <img src="{{ $image.Permalink }}">
      </div>
    {{ end }}
    <div>
      {{/*<h3>{{ .Title }}</h3>
      <p>
        {{ humanize .Date.Day }} of {{ .Date.Format "January 2006" }}
        <br>
        {{ .Date | time.Format ":time_short" }}
      </p>*/}}
      {{ if .Params.place }}
        <p>{{ .Params.place }}</p>
      {{ end }}
      {{ .Content }}
      {{ if .Params.link }}
        {{ $url := urls.Parse .Params.link }}
        <p>
          <a href="{{ .Params.link }}" target="_blank">{{ $url.Host }}</a>
        </p>
      {{ end }}
    </div>
  </section>
{{ end }}