<nav>

  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  <a href="{{ .URL }}"{{ if $currentPage.IsMenuCurrent "main" . }} class="active"{{ end }}>
    {{ .Pre }}
    <span>{{ .Name }}</span>
  </a>
  {{ end }}

  {{/*
    <a href="#"{{ if eq .RelPermalink "/nur/" }} class="active"{{ end }}>fr/en</a>
  */}}
</nav>
